4-section-house.jade
doctype html
html
    include ./jade_includes/_head
    body
        include ./jade_includes/_header
        .main-content
            .building
                .building
                    .back-link-container
                        a.back-link(href='/building')
                            | < К списку объектов
                    .building__img-container
                        img.building__img(src='img/items/4_section_house.jpg',alt='')
                    .building__content
                        h1.building__title
                            | 4 четырехсекционных жилых дома с.Займо-Обрыв Азовский район
                        .line
                        p.building__information
                            | Адрес: Ростовская обл., р-н Азовский, с. Займо-Обрыв, пер. Кошевого, 12-а
                        .line
                        p.building__information
                            | Общая площадь жилых домов - 421,92 м2
                        p.building__information
                            | Площадь одного жилого дома - 105,48 м2
                        p.building__information
                            | Строительный объем - 2 282,68 м3
                        p.building__information
                            | на земельном участке площадью 2 948 м. кв.
                        .line
                        p.building__information
                            a.building__image-link.fancybox(href='img/resolutions/4-section-house.jpg')
                                img.building__resolution-img(src='img/resolutions/4-section-house.jpg',alt='')
                            | Разрешение на строительство
                        .line
                        p.building__information
                            a.building__image-link.fancybox(href='img/declarations/4-section-house_1.jpg')
                                img.building__resolution-img(src='img/declarations/4-section-house_1.jpg',alt='')
                            a.building__image-link.fancybox(href='img/declarations/4-section-house_2.jpg')
                                img.building__resolution-img(src='img/declarations/4-section-house_2.jpg',alt='')
                            | Проектная декларация
                        p.building__information
                            | Изменение в проектную декларацию от  03.10.2014 г.
                        p.building__information
                            | В раздел «Финансовый результат текущего года» проектной декларации внесены следующие изменения:
                            br
                            | Финансовый результат деятельности компании за 9 месяцев 2014 г. (убыток) – 121 000 рублей.
                        p.building__information
                            | В раздел «Размер кредиторской задолженности» проектной декларации внесены следующие изменения:
                            br
                            | Кредиторская задолженность на 01.10.2014 г.  – 12 025 000 рублей.
                        p.building__information
                            | В раздел «Размер дебиторской задолженности» проектной декларации внесены следующие изменения:
                            br
                            | Дебиторская задолженность на 01.10.2014 г. – 11 731 000 рублей.
        include ./jade_includes/_footer
        script(src='js/building.js')

4-section-house.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ООО "Форас"</title>
    <meta name="description" content="г. Таганрог, Строительная компания">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700,300&amp;subset=cyrillic,latin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <script src="js/vendor/html5.js"></script>
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script src="js/vendor/jquery.fancybox.pack.js"></script>
    <script src="js/vendor/slick.min.js"></script>
    <script>
      (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-56242579-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <header class="header">
      <div class="header__logo-container">
        <h1 class="header__title"><a href="/" class="header__main-link"><img src="img/logo.png" alt="" class="header__logo"><span>ООО "Форас"</span><span class="header__description">строительная компания</span></a></h1>
      </div>
      <nav class="nav">
        <ul id="navList" class="nav__list">
          <li class="nav__item"><a data-link="building" href="/building" class="nav__link">строительство</a></li>
          <li class="nav__item"><a data-link="services" href="/services" class="nav__link">услуги</a></li>
          <li class="nav__item"><a data-link="requisites" href="/requisites" class="nav__link">реквизиты</a></li>
          <li class="nav__item"><a data-link="contacts" href="/contacts" class="nav__link">контакты</a></li>
        </ul>
      </nav>
    </header>
    <div class="main-content">
      <div class="building">
        <div class="building">
          <div class="back-link-container"><a href="/building" class="back-link">< К списку объектов</a></div>
          <div class="building__img-container"><img src="img/items/4_section_house.jpg" alt="" class="building__img"></div>
          <div class="building__content">
            <h1 class="building__title">4 четырехсекционных жилых дома с.Займо-Обрыв Азовский район</h1>
            <div class="line"></div>
            <p class="building__information">Адрес: Ростовская обл., р-н Азовский, с. Займо-Обрыв, пер. Кошевого, 12-а</p>
            <div class="line"></div>
            <p class="building__information">Общая площадь жилых домов - 421,92 м2</p>
            <p class="building__information">Площадь одного жилого дома - 105,48 м2</p>
            <p class="building__information">Строительный объем - 2 282,68 м3</p>
            <p class="building__information">на земельном участке площадью 2 948 м. кв.</p>
            <div class="line"></div>
            <p class="building__information"><a href="img/resolutions/4-section-house.jpg" class="building__image-link fancybox"><img src="img/resolutions/4-section-house.jpg" alt="" class="building__resolution-img"></a>Разрешение на строительство</p>
            <div class="line"></div>
            <p class="building__information"><a href="img/declarations/4-section-house_1.jpg" class="building__image-link fancybox"><img src="img/declarations/4-section-house_1.jpg" alt="" class="building__resolution-img"></a><a href="img/declarations/4-section-house_2.jpg" class="building__image-link fancybox"><img src="img/declarations/4-section-house_2.jpg" alt="" class="building__resolution-img"></a>Проектная декларация</p>
            <p class="building__information">Изменение в проектную декларацию от  03.10.2014 г.</p>
            <p class="building__information">В раздел «Финансовый результат текущего года» проектной декларации внесены следующие изменения:<br>Финансовый результат деятельности компании за 9 месяцев 2014 г. (убыток) – 121 000 рублей.</p>
            <p class="building__information">В раздел «Размер кредиторской задолженности» проектной декларации внесены следующие изменения:<br>Кредиторская задолженность на 01.10.2014 г.  – 12 025 000 рублей.</p>
            <p class="building__information">В раздел «Размер дебиторской задолженности» проектной декларации внесены следующие изменения:<br>Дебиторская задолженность на 01.10.2014 г. – 11 731 000 рублей.</p>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer"><span class="footer__line"></span>
      <div class="footer__content">
        <div class="footer__contacts"><a href="http://oooforas.com" class="footer__link">ООО "Форас"</a><a href="mailto:oooforas2013@yandex.ru" class="footer__link">oooforas2013@yandex.ru</a><span class="footer__link footer__link_phone">+7 (918) 552-86-07</span></div>
        <div class="footer__developer"><span>Разработка:</span><a id="rassokhinMeLink" href="http://rassokhin.me" target="_blank" class="footer__developer-link">rassokhin.me</a></div>
      </div>
      <script src="js/eventsTracking.js"></script>
    </footer>
    <script src="js/building.js"></script>
  </body>
</html>
