index.jade
doctype html
html
    include ./jade_includes/_head
    body
        include ./jade_includes/_header
        .main-content
            .main-content__homepage
                #homepageSlider.homepage-slider
                    .homepage-slider__item.homepage-slider__item_1
                    .homepage-slider__item.homepage-slider__item_2
                    .homepage-slider__item.homepage-slider__item_3

        include ./jade_includes/_footer
        script(src='js/homepage.js')

index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ООО "Форас"</title>
    <meta name="description" content="г. Таганрог, Строительная компания">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700,300&amp;subset=cyrillic,latin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <script src="js/vendor/html5.js"></script>
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script src="js/vendor/jquery.fancybox.pack.js"></script>
    <script src="js/vendor/slick.min.js"></script>
    <script>
      (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-56242579-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <header class="header">
      <div class="header__logo-container">
        <h1 class="header__title"><a href="/" class="header__main-link"><img src="img/logo.png" alt="" class="header__logo"><span>ООО "Форас"</span><span class="header__description">строительная компания</span></a></h1>
      </div>
      <nav class="nav">
        <ul id="navList" class="nav__list">
          <li class="nav__item"><a data-link="building" href="/building" class="nav__link">строительство</a></li>
          <li class="nav__item"><a data-link="services" href="/services" class="nav__link">услуги</a></li>
          <li class="nav__item"><a data-link="requisites" href="/requisites" class="nav__link">реквизиты</a></li>
          <li class="nav__item"><a data-link="contacts" href="/contacts" class="nav__link">контакты</a></li>
        </ul>
      </nav>
    </header>
    <div class="main-content">
      <div class="main-content__homepage">
        <div id="homepageSlider" class="homepage-slider">
          <div class="homepage-slider__item homepage-slider__item_1"></div>
          <div class="homepage-slider__item homepage-slider__item_2"></div>
          <div class="homepage-slider__item homepage-slider__item_3"></div>
        </div>
      </div>
    </div>
    <footer class="footer"><span class="footer__line"></span>
      <div class="footer__content">
        <div class="footer__contacts"><a href="http://oooforas.com" class="footer__link">ООО "Форас"</a><a href="mailto:oooforas2013@yandex.ru" class="footer__link">oooforas2013@yandex.ru</a><span class="footer__link footer__link_phone">+7 (918) 552-86-07</span></div>
        <div class="footer__developer"><span>Разработка:</span><a id="rassokhinMeLink" href="http://rassokhin.me" target="_blank" class="footer__developer-link">rassokhin.me</a></div>
      </div>
      <script src="js/eventsTracking.js"></script>
    </footer>
    <script src="js/homepage.js"></script>
  </body>
</html>
